---
import Layout from "../../layouts/Layout.astro";
import { getBlogs, getBlogDetail, formatDate } from "../../library/microcms";

// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      blogId: content.id,
    },
  }));
}

//記事の詳細情報を取得
const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);
const PostingTime = formatDate(blog.publishedAt);
const DateTime = formatDate(blog.publishedAt).replaceAll(".", "-");
---

<Layout title={blog.title}>
  <main>
    <div class="eyecatch" transition:name=`article-thumbnail-${blogId}`>
      <img src={blog.thumbnail.url} alt={blog.thumbnail.alt} />
    </div>
    <article>
      <h1 class="title">{blog.title}</h1>
      <div class="data">
        <time class="time" datetime={DateTime}>{PostingTime}</time>
      </div>
      <div class="content" set:html={blog.content} />
    </article>
  </main>
</Layout>

<style lang="scss">
  main {
    .eyecatch {
      width: 100%;
      aspect-ratio: 3 / 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    article {
      @include media-pc {
        width: rem(800);
        margin: rem(120) auto;
      }
      @include media-sp {
        width: vw(335);
        margin: vw(40) auto;
      }
      .content {
        @include media-pc {
          margin-top: rem(80);
        }
        @include media-sp {
          margin-top: vw(40);
        }
        h2 {
          font-size: 32px;
        }
        h3 {
          font-size: 28px;
        }
      }
    }
  }
</style>

<script></script>
