---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import ArticleList from "../components/ArticleList.astro";
import Search from "../components/Search.astro";
import Category from "../components/Category.astro";
import { getBlogs } from "../library/microcms";

const response = await getBlogs({ fields: ["id", "title", "thumbnail", "category", "publishedAt"] });
// console.log(response.contents);
// response.contents.map((content) => (
//   console.log(content)
// ))

---

<Layout title="Yanagita Blog">
  <main>
    <div class="wrapper">
      <Search />
      <Category />
      <ArticleList>
        {
          response.contents.map((content) => (
            <Article
              id={content.id}
              title={content.title}
              thumbnail={content.thumbnail}
              category={content.category[0]}
              publishedAt={content.publishedAt}
            />
          ))
        }
      </ArticleList>
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    .wrapper {
      margin: auto;
      @include media-pc {
        width: rem(1000);
        margin-block: rem(80);
      }
      @include media-sp {
        max-width: rem(335);
        margin-block: vw(40);
      }
    }
  }
</style>
