---
import { formatDate } from "../library/microcms";

interface Thumbnail {
  url: string;
  height: number;
  width: number;
  alt: string;
}
interface Category {
  id: string;
  createdAt: string;
  updatedAt: string;
  publishedAt: string;
  revisedAt: string;
  title: string;
  slug: string;
}

interface Props {
  id: string;
  title: string;
  thumbnail: Thumbnail;
  category: Category;
  publishedAt: string;
}

const { id, title, thumbnail, category, publishedAt } = Astro.props;

const PostingTime = formatDate(publishedAt);
const DateTime = formatDate(publishedAt).replaceAll("/", "-");
---

<article class="item">
  <a href=`/posts/${id}`>
    <div class="thumbnail" transition:name=`article-thumbnail-${id}`>
      <img src={thumbnail.url} alt={thumbnail.alt} />
    </div>
    <div class="summary">
      <h2>{title}</h2>
      <div class="data">
        <p class="category">{category.title}</p>
        <time class="time" datetime={DateTime}>{PostingTime}</time>
      </div>
    </div>
  </a>
</article>

<style lang="scss">
  .item {
    border-radius: rem(10);
    overflow: hidden;
    transition:
      translate 0.3s $easeInOutBack,
      box-shadow 0.3s ease;

    @include media-pc {
      &:hover {
        z-index: 100;
        background: #ffffff;
        box-shadow:
          rem(13) rem(13) rem(26) #f0f0f0,
          rem(-13) rem(-13) rem(26) #ffffff;
        translate: 0 rem(-4);
      }
    }
    @include media-sp {
    }

    .thumbnail {
      width: 100%;
      aspect-ratio: 3 / 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: scale 3s ease-in-out;
      }
    }
    .summary {
      padding: rem(10) rem(10) rem(20);
      // margin-top: rem(10);
      h2 {
        font-size: rem(14);
      }
      .data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: rem(20);
        .category {
          width: max-content;
          font-size: rem(11);
          padding: 0.1em 0.8em;
          background-color: rgb(52, 52, 52);
          color: #fff;
          border-radius: rem(4);
        }
        time {
          font-size: rem(11);
        }
      }
    }
  }
</style>
