---
import Layout from "../../../layouts/Layout.astro";
import Article from "../../../components/Article.astro";
import ArticleList from "../../../components/ArticleList.astro";
// import Search from "../../../components/Search.astro";
import Category from "../../../components/Category.astro";
import { getBlogs, getCategories } from "../../../library/microcms";

// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
  const response = await getCategories({ fields: ["slug"] });
  return response.contents.map((content: any) => ({
    params: {
      categoryslug: content.slug,
    },
  }));
}

// microCMS呼び出し
const { categoryslug } = Astro.params;
const response = await getBlogs({
  fields: ["id", "title", "thumbnail", "category", "publishedAt"],
});

// 記事のフィルタリング
const filteredPosts = response.contents.filter((post) =>
  post.category.some((h) => h.id === categoryslug)
);
---

<Layout title="category">
  <main>
    <div class="wrapper">
      <!-- <Search /> -->
      <Category />
      <ArticleList>
        {
          filteredPosts.map((content) => (
            <Article
              id={content.id}
              title={content.title}
              thumbnail={content.thumbnail}
              category={content.category[0]}
              publishedAt={content.publishedAt}
            />
          ))
        }
      </ArticleList>
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    .wrapper {
      margin: auto;
      @include media-pc {
        width: rem(1000);
        margin-block: rem(80);
      }
      @include media-sp {
        max-width: rem(335);
        margin-block: vw(40);
      }
    }
  }
</style>
